* {
    margin: 0;
    padding: 0;
}

/*Imports*/

@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

/*Mixins*/

@mixin marginTP {
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}

@mixin paddingLR {
    padding-left: 5px;
    padding-right: 5px;
}

@mixin H1style {
    font-family: 'Koulen', cursive;
    font-size: $FontSizeH1;
}

@mixin H2style {
    font-family: 'Koulen', cursive;
    font-size: $FontSizeH2;
}

@mixin H5style {
    font-family: 'Koulen', cursive;
    font-size: $FontSizeH5;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Josefin Sans', sans-serif;
    background-color: $backgroundColor2;
}

/*NavBar*/

.navbar {

    font-family: 'Koulen', cursive;

    .navbar-brand:hover {
        color: red;
    }

    a {
        font-size: $FontSizeH1;
        color: $FontColor;
        text-decoration: none;
        @include paddingLR();
    }

    a:hover {
        color: red;
    }
}

/*Contenido*/

.parrafo {
    color: $FontColor;
    @include marginTP();

    h1 {
        @include H1style();
    }

    h2 {
        @include H2style();
    }

    p {
        font-size: $FontSizeP;

        a:hover {
            color: red;
        }
    }

}

/*Tarjetas*/

.tarjetas {
    display: flex;
    justify-content: space-between;
    height: 400px !important;

    .card {
        .card-body{
            height: 350px;
        }   
    }
}

h5 {
    @include H5style();
}

p {
    font-size: $FontSizeP;
}

/*Formulario*/

.formulario {
    margin-left: 100px;
    margin-right: 100px;
}

.form-label {
    @include H5style();
    color: $FontColor;
}

/*Tarjetas trabajo*/

.card-group{
    display: flex;
    justify-content: space-between;
    @include marginTP();

    img{
        max-height: 280px;
    }
}

/*Pie de pagina*/

footer {
    
    .nav{
        a:hover {
            color: red;
        }
    }
            
            
      

    p {
        text-decoration: none;
        color: $FontColor;

        a:hover {
            color: red;
        }
    }
}